asgiref==3.11.0
brotli==1.2.0
cffi==2.0.0
charset-normalizer==3.4.7
cssselect2==0.9.0
dj-database-url==3.1.0
Django==6.0.1
django-cors-headers==4.9.0
django-jazzmin==3.0.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
et_xmlfile==2.0.0
fonttools==4.63.0
gunicorn==24.1.1
numpy==2.4.1
openpyxl==3.1.5
packaging==26.0
pandas==2.3.3
pillow==12.1.0
psycopg2-binary==2.9.11
pycparser==3.0
pydyf==0.12.1
PyJWT==2.10.1
pyotp==2.9.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.1
pytz==2025.2
qrcode==8.2
reportlab==4.5.1
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
tzdata==2025.3
weasyprint==69.0
webencodings==0.5.1
whitenoise==6.11.0
xlrd==2.0.2
zopfli==0.4.3
django-q2==1.0.4
